<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GWLZCDM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A5A552A1D6D4D400021C3F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A5A55431D6D4D400021C3F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A5A554E1D6D4D400021C3F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
